@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

body {
  color: white;
  min-neight: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

body:before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("/img/bg.png") no-repeat center / cover;
  animation: backgroundAnimate 20s forwards;
}

@keyframes backgroundAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
